:root {
    --primary-color: white;
    --background-color: black;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}

button {
    color: var(--primary-color);
    background-color: var(--background-color);
    margin: 0.5em;
}

p {
    display: none;
}

div.panel#welcome {
    margin-top: 18vh;
    margin-left: 10px;
    margin-right: 10px;
    background-color: cornflowerblue;
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}